.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 586px;
  height: auto;
  width: 570px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 69px 0 11px;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}