.u-section-1 .u-sheet-1 {
  min-height: 201px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 79px;
  height: auto;
  margin: 12px 18px 0 138px;
}

.u-section-1 .u-text-1 {
  margin: -12px 25px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin: 12px 0 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 431px;
}

.u-section-2 .u-image-1 {
  width: 326px;
  height: 272px;
  object-position: 0% 50%;
  margin: 39px auto 0 70px;
}

.u-section-2 .u-image-2 {
  width: 326px;
  height: 272px;
  margin: -272px auto 0;
}

.u-section-2 .u-image-3 {
  width: 326px;
  height: 272px;
  margin: -272px 81px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
    margin-left: 12px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 34px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-image-1 {
    width: 318px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }
}